@using EntityLayer.Concrete
@model List<Content>

@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("GetAllContent","Content", FormMethod.Post))
{
    <p>
        Aranacak Kelimeyi Giriniz: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
@foreach (var item in Model)
{
    <p>@item.ContenValue</p>
}
