
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<br />
<p>Başlıklarda Arama Kutucuğu</p>
<p>Yazar Görselleri Düzenlenecek</p>
<p>Grafikler Eklenecek!</p>
<p>Vitrin Teması Eklenecek</p>
<p>Gelen Kutusunda Arama</p>
<p>Yetkilendirmeler</p>
<p>Hata Sayfası Layout'dan ayrılacak..</p>
<p>Sözlük ve Vitrin Ayrılacak</p>
<p>Herhangi Bir Tablo Raporlanacak</p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>
<p>Proje Canlıya Taşınacak</p>
<p>Alan Adı Alınacak</p>

