
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<p>#1 Profilim</p>
<p><del>#2 Tüm Başlıklarda Paging</del></p>
<p>#3 Mesajlarda Session</p>
<p>#4 Oturum Yönetiminin Mimariye Taşınması</p>
<p>#5 Token Kullanımı</p>